doctype html
html
   head
      title = "Hello Pug"
   body
      p.greetings#people Hello World!

      div.
         lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia rem dicta quisquam maxime est optio error corporis quae veniam itaque, architecto ab minima consequatur porro debitis neque amet, accusamus molestias.Accusantium, earum modi. Optio sequi quae autem possimus nostrum expedita vitae velit, debitis ipsa asperiores voluptate? Aut ipsum quo harum quidem, nostrum est modi sed debitis voluptatem ratione facilis impedit
      
          