html
head
    title Protected page
    body
        div hello Hey #{id} how are you doing?
        div want to logout?
            form(action="/logout",method="get")
                input(type="submit" value="logout")